div.fixed 
{
 position: fixed;
 top: 0;
 left: 0;
 border: 1px solid #8AC007;
 width: 500px;
 font-family: Verdana, Geneva, sans-serif;
 font-size: 1.1em;
 padding: 3px;
 margin: 10px;
 visibility: hidden;
 font-weight: 300;
 text-align: left;
 background-color: #dbdbdb;
}
   
div.fixed .close
{
 position: fixed;
 top: 0px;
 left: 480px;
 padding: 3px;
 margin: 10px;
 color: red;
 border: 1px solid red;
 font-size: 1.3em;
}
   
div.fixed .close a, div.quest_sign a
{
  color: red;
  text-decoration: none;
  font-size: 1.3em;
}
   
div.quest_sign 
{
 position: fixed;
 top: 0;
 left: 0;
 border: 1px solid #8AC007;
 padding: 3px;
 margin: 10px;
 color: red;
 border: 1px solid red;
 font-size: 1.3em;
 visibility: visible;
}